:root {
    --black: #1c1d26;
    --gray: #272832;
    --red: #ce485f;
    --brown: #482e3b;
    --white: #f5f5f5;
}

body {
    background-color: var(--black);
    color: var(--white);
}

nav {
    top: 0;
    position: sticky;
    display: grid;
    z-index: 10;
    margin: 0;
    background-color: var(--gray);
    color: var(--red);
    box-shadow: 0px 1px 5px var(--black);

    grid-template-columns: auto 1fr auto auto auto;
    padding: 0 3rem 0 3rem;
    column-gap: 1rem;
    align-items: center;

    transition: transform 0.5s ease-in-out;
}

.button {
    background-color: var(--brown);
    border-radius: 10px;
    padding: 1rem;
    color: var(--red);
    text-decoration: none;
    
}

.button a{
    color: var(--red);
    text-decoration: none;
}

.button:hover {
    filter: grayscale(0.5);
    cursor: pointer;
}

.hoverable:hover {
    filter: grayscale(0.5);
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--brown);
    border-radius: 10px;
    padding: 1rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  .textMid
  {
    display: block;
    margin: auto;
    text-align: center;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#f5f5f5;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {    
    filter: grayscale(0.5);
    cursor: pointer;}



#mainTitle {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    font-size: 3em;
    padding-bottom: 4rem;
}

.midTitle {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
    font-size: 3em;
    padding-bottom: 0rem;
}

.leftTitle{
    display: block;
    margin: auto;
    text-align: left;
   
    margin-top: 4rem;
    font-size: 2em;
    padding-bottom: 2rem; 
}
.mainSection {
    display: grid;
    margin: 0 3rem 0 3rem;

    grid-template-columns: 1fr minmax(auto, 30%) minmax(auto, 30%) 1fr;
    column-gap: 1rem;
}

.mainSection img {
    border-radius: 5px;
    margin: auto;
    width: 25vw;
}

.projectList {
    margin: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projectCard {
    border-radius: 5px;
    background-color: var(--gray);
    padding: 1rem;
    margin: 1rem 0.1rem 1rem 0.1rem;
    display: grid;
    flex: 0 1 21vw;

    text-decoration: none;
    color: var(--white);


    grid-template-rows: auto auto;
}

.projectCard img {
    width: 100%;
    border-radius: 5px;

}

.projectCard:hover {
    opacity: 0.5;
}
.imageIcon{
   
    width: 10%;
    height: auto;
    margin: auto;
    display: block;
    
}
.imageIcon:hover{
    filter: grayscale(0.5);
}
.contactGrid{

    margin-left: 0rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}


/*  -- Mobile screens --  */
@media only screen and (max-width: 600px) {
    /* navigation bar */
    nav {
        text-align: center;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }

    nav div:empty {
        display: none;
    }

    nav div:not(:empty) {
        margin: 5px;
    }

    nav h1 {
        margin: 10px 0 5px 0;
    }

    /* main section */
    .mainSection {
        grid-template-columns: 1fr;
    }

    .mainSection img {
        width: 45vw;
    }

    /* Project cards and list */
    .projectCard {
        flex-basis: content;
    }


    /* General purpose */
    .button {
        padding: 3%;
        border-radius: 4px;
    }
}